* {
  box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.logo img{
    width: 70px;
}
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
label img{
    height: 30px;
}
header{
    width: 100%;
    background: #050b0e;
}
#btn-menu{
    display: none;
    
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 2px solid #fff;
}
header label:hover{
    cursor: pointer;
    background:rgba(255, 255, 255, 0.3);
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
}
.menu li{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.menu li:hover{
    background: rgba(255, 255, 255, 0.3);
}
.menu li a{
    display: block;
    padding:15px 20px;
    color: #fff;
    text-decoration:none; 
}
.logo-img {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
}
ul h3 {
    display: flex;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}
/*-------------------- estilos del nav ----------------------->*/
.banner {
    margin-top: 0px;
    position: relative;
  }
.banner--img {
    width: 100%;
    height: 500px;
    object-fit:cover;
  }
.banner--content {
    width: 90%;
    font-size: 1.5em;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    font-weight: bold;
    transform: translateX(-50%) translateY(-50%);
  }
.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    top: 0;
  }
/*-----------------------------Estilos del banner--------------------*/
.main-section .contenedor{
    background: #050b0e;
    text-align: center;
    padding: 10px;
    color: #fff;
  }

 section .contenedor{
    background: #050b0e;
    text-align: center;
    padding: 8px;
    color: #fff;
  }
.main-title{
    margin: 15px 0 ;
    font-size: 1.8em;
    font-family: 'Pacifico',cursive;
    font-weight: 100;
  }
  .columna-title{
    font-size: 1.3em;
    text-align: center;
  
  }
  .columna-txt{
    font-size: 1.1em;
  }
  .secundary-section .columna:nth-child(2){
      padding: 10px;
  }
  .btn-contacto {
      display: block;
      text-align: center;
      text-decoration: none;
      width: 120px;
      background: #f66e33;
      color: white;
      padding: 10px;
      margin:0 auto;
  }
  .columna--50{
      width:50%; 
  }
.contenedor--flex{
    display: flex;
    flex-wrap: wrap;
}
.columna--50 img{
   height:400px;
}
.nuestros-trabajos .columna--50-25 {
    margin-bottom: 30px;
    text-align: center;
  }
  .nuestros-trabajos--img{
    margin: auto;
    height: 426px;
    width: 550px; 
  }
  .title-nuestros-trabajos{
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .div-materiales{
    text-align: center;
    font-size: 1.5em;
    color: #F66E33;
    font-weight: bold;
  }
  .columna--50-25{
    width: 50%;
  }
  .grupo--title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin:30px;
  }
 .secundary-section div .main-title2{
    padding: 20px;
  }
  /*---------------------------- Estilos del footer-------------------------*/
  .main-footer {
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
  }
  .main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
  }
  .main-footer [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
  }
  .columna-50{
    width:50%;
    float: left;
    padding-left:60px;
  }
  footer p a {
      color: #fff;
      text-decoration: none;
  }
  footer div p a i{
    height: 20px;
    width: 20px;
  }

/*------------------------------- Estilos del responsive---------------------*/
@media (max-width:768px){
    header label{
        display:block;
    }
    .menu{
        position: absolute;
        background: #050b0e;
        width: 70%;
        margin-left:-70%;
        z-index: 1001;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin:0;
    }
    .logo-img{
        color: white;
    }
    .banner:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        z-index: 1000;
        top: 0;
      }
}